<!-- CODEPEN -->
<div class="wrap">
  <div class="avatar">
    <img src="http://cdn.ialireza.me/avatar.png" />
  </div>
  <!-- <input type="text" placeholder="username" required> -->
  <form name="loginForm" ng-submit="login()" novalidate>
    <!-- <input
      type="text"
      ng-model="user.id"
      required
      placeholder="Enter your org ID"
      name="orgId"
    />
    <div class="bar">
      <i></i>
    </div> -->
    <input
      type="email"
      ng-model="user.email"
      required
      placeholder="Enter your email"
      name="emailId"
    />
    <div class="bar">
      <i></i>
    </div>
    <!-- <input type="password" placeholder="password" required> -->
    <input
      type="password"
      ng-model="user.password"
      required
      placeholder="Enter your password"
      name="password"
    />
    <!-- <a href="" class="forgot_link">forgot ?</a> -->
    <!-- <button>Sign in</button> -->
    <button type="submit" ng-disabled="loginForm.$invalid">Login</button>
  </form>
</div>
