<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <title>ng-if (feedback Form)</title>
</head>
<body ng-app="myApp">

    <div ng-controller="myCtrl">

        <h4>Click the checkbox for feedback</h4>
    
        <input type="checkbox" ng-model="data">

        <div ng-if="data">
            <textarea name="" id=""></textarea>
        </div>
    </div>

    <script>
        angular.module('myApp', []).controller('myCtrl', function($scope){
            $scope.data=false;
        });
    </script>
     
</body>
</html>